<%- include('components/header.ejs') %>

    <section>
        <div class="container flex">
            <div class="fl-box span-66">
                <h3 style="display: flex; align-items: center">
                    <img src="/img/logo.png" alt="" height="50" style="margin-right: 1rem;">
                    Sleepy Head
                </h3>
                <h1>Been holding back a lot?
                    <br />
                    Write your heart out and let go of the pain.
                </h1>
                <p>
                    Emotions should be let out - not repressed. But talking your heart and mind out can be tough sometimes. So here's Sleepy Head - a quiet safe place to write your deepest thoughts and words that you could never say. (We call them dreams)<br/>
                    <br/>
                    Before you continue, remember - "what happens in here, stays in here".
                </p>
                <div class="buttons flex">
                    <a href="#" class="btn cta">Register an account</a>
                    <a href="#" class="btn">Search Sleepy Heads</a>
                </div>
            </div>
            <div class="fl-box span-33">
                <div class="img-wrapper img-center">
                    <img src="/img/with-light.svg" alt="" style="transform: scaleX(-1)">
                </div>
            </div>
        </div>
    </section>

    <%- include('components/footer.ejs') %>