<%- include('components/header.ejs') %>

    <section>
        <div class="container flex">
            <div class="fl-box span-66">
                <h3 style="display: flex; align-items: center">
                    <img src="/img/logo.png" alt="" height="50" style="margin-right: 1rem;">
                    Sleepy Head
                </h3>
                <h1>Been holding back a lot?
                    <br />
                    Write your heart out and let go of the pain.
                </h1>
                <p>
                    Emotions should be let out - not repressed. But talking your heart and mind out can be tough
                    sometimes. So here's Sleepy Head - a quiet safe place to write your deepest thoughts and words,
                    things that you could never say.
                    <br />
                    <br />
                    Before you continue, remember our unspoken rule that everyone follows:
                    <br />
                    ❝What happens in here, stays in here❞.
                </p>
                <div class="buttons flex">
                    <a href="#" class="btn cta">Register an account</a>
                    <a href="#" class="btn">Search Sleepy Heads</a>
                </div>
            </div>
            <div class="fl-box span-33">
                <div class="img-wrapper img-center">
                    <img src="/img/with-light.svg" alt="" style="transform: scaleX(-1)">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container flex" style="flex-direction: column;">
            <div class="fl-box span-100 flex">
                <div class="fl-box span-50">
                    <h2 style="text-align: left;">The Concept...</h2>
                    <p>
                        I built this platform for people suffering from anxiety, depression and stress, people who have
                        been holding back a lot within themselves but can't let their thoughts and emotions out due to
                        some reason or the other: <br />
                        - having no one to understand or speak to <br />
                        - avoiding painful situations <br />
                        - feeling that things have messed up and it's better to stay quiet. <br /> <br />
                        How wonderful it'd be in such cases to have a place where you can release your emotional
                        baggage, where you can write your heart out without fearing anything. <br /> <br />
                        Your posts will not be public, nor anonymous - unless you choose so. Much like instagram's
                        follow system, your friends, families and complicated ones can find your profile by using the
                        search option and send you a 'listener request' (they also need to be registered as a Sleepy
                        Head). If you accept the request, they'll be notified everytime you post a new story and they'd
                        be able to read 'em. This way, you silently tell them your stories without directly talking to
                        them :)<br /><br />One promise that we all Sleepy Heads take while signing up to this platform
                        is that we'd never discuss each others' stories outside this website. Whatever happens here,
                        stays here, safe and sound :)
                    </p>
                </div>
                <div class="fl-box span-50">
                    <div class="fl-box card span-50">
                        <div class="icon-wrapper icon-green">
                            <i data-feather="at-sign"></i>
                        </div>
                        <div class="card-title">
                            Register your account
                        </div>
                        <div class="card-body">
                            <p>
                                Setting up a profile is one crucial task. From spotify to favourite movies to your
                                socials, there are quite some fields you'll have to fill in, but trust me - you'll love
                                your profile page once created. 😉
                            </p>
                        </div>
                    </div>
                    <div class="fl-box card span-50">
                        <div class="icon-wrapper icon-blue">
                            <i data-feather="heart"></i>
                        </div>
                        <div class="card-title">
                            Find friends and close ones
                        </div>
                        <div class="card-body">
                            <p>
                                Search for your friends, send them a listening request so that you can read their
                                stories. Keep a check on your listeners request too. If I were you, I'd only keep the
                                closest of friends as my listeners. 🫠
                            </p>
                        </div>
                    </div>
                    <div class="fl-box card span-50">
                        <div class="icon-wrapper icon-red">
                            <i data-feather="book"></i>
                        </div>
                        <div class="card-title">
                            View profiles and stories
                        </div>
                        <div class="card-body">
                            <p>
                                Every sleep head can post stories publicly. Profiles too can be set to public or
                                private. Won't it be cool to go through some heartfelt emotional stories of strangers
                                and feel them? 🙂
                            </p>
                        </div>
                    </div>
                    <div class="fl-box card span-50">
                        <div class="icon-wrapper icon-yellow">
                            <i data-feather="pen-tool"></i>
                        </div>
                        <div class="card-title">
                            Write your journal & stories
                        </div>
                        <div class="card-body">
                            <p>
                                Let your heart
                                and emotions out by writing your stories, I am sure they're all be very beautiful. Also,
                                know that this place is full of people just like you, emotional and sad. You are not alone.🖤
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('components/footer.ejs') %>