@font-face {
    font-family: "NanamiRoundedW01-Book";
    src: url("//db.onlinewebfonts.com/t/b9d8f7e4ea4e28264963a9672b76cf6c.eot");
    src: url("//db.onlinewebfonts.com/t/b9d8f7e4ea4e28264963a9672b76cf6c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b9d8f7e4ea4e28264963a9672b76cf6c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b9d8f7e4ea4e28264963a9672b76cf6c.woff") format("woff"), url("//db.onlinewebfonts.com/t/b9d8f7e4ea4e28264963a9672b76cf6c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b9d8f7e4ea4e28264963a9672b76cf6c.svg#NanamiRoundedW01-Book") format("svg");
}

:root {
    --bg-primary: #181b21;
    --bg-secondary: #111317;
    --branding: #f05756;
    --text: #5d5f60;
    --heading: #fbfefd;
    --red: rgb(219, 50, 54);
    --yellow: rgb(244, 194, 13);
    --blue: rgb(72, 133, 237);
    --green: rgb(60, 186, 84);
    --red-bg: rgba(219, 50, 54, 0.2);
    --yellow-bg: rgba(244, 194, 13, 0.2);
    --blue-bg: rgba(72, 133, 237, 0.2);
    --green-bg: rgba(60, 186, 84, 0.2);
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html, body {
    font-family: "NanamiRoundedW01-Book";
    background-color: var(--bg-primary);
}

h1, h2, h3 {
    color: var(--heading);
    line-height: 1.5;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.75rem;
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

p {
    text-align: justify;
    color: var(--text);
    margin-bottom: 2rem;
    max-width: 700px;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: var(--text);
}

.buttons .btn {
    width: max-content;
}

.btn, .btn:visited {
    width: 100%;
    padding: 0.75rem 1.5rem;
    color: var(--heading);
    background-color: transparent;
    border: 1px solid var(--text);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

.btn:hover {
    color: var(--heading);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.cta, .cta:visited {
    background-color: var(--branding);
    color: var(--bg-secondary);
    border: 1px solid var(--branding);
}

.cta:hover {
    color: var(--bg-secondary);
}

section {
    width: 100%;
    padding: 10vh 10vw;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
}

.fl-box.flex {
    justify-content: space-between;
}

.span-50 {
    width: 48%;
}

.span-100 {
    width: 100%;
}

.span-33 {
    width: 33%;
}

.span-25 {
    width: 23.8%;
}

.span-75 {
    width: 73.4%;
}

.span-66 {
    width: 66%;
}

.card {
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    display: inline-block;
}

.card-title {
    color: var(--heading);
    margin: 1rem 0;
    text-align: right;
}

.card-body p {
    font-size: 80%;
    text-align: right;
    line-height: 1.5;
}

.icon-wrapper {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper .feather {
    height: 16px;
    width: 16px;
}

.icon-red {
    color: var(--red);
    background-color: var(--red-bg);
}

.icon-green {
    color: var(--green);
    background-color: var(--green-bg);
}

.icon-yellow {
    color: var(--yellow);
    background-color: var(--yellow-bg);
}

.icon-blue {
    color: var(--blue);
    background-color: var(--blue-bg);
}